{
    "openapi": "3.0.1",
    "info": {
        "title": "OpenAPI definition",
        "version": "v0"
    },
    "servers": [{
            "url": "https://cms2.lux.eib.org/ged"
        }
    ],
    "paths": {
        "/import/uploadFile": {
            "post": {
                "tags": ["import-controller"],
                "summary": "Upload file related to a document",
                "operationId": "uploadFile",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/UploadFileRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadFileResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/import/uploadDocument": {
            "post": {
                "tags": ["import-controller"],
                "summary": "Upload a document metadata",
                "operationId": "uploadDocument",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UploadDocumentRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadDocumentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/import/deleteDocument": {
            "post": {
                "tags": ["import-controller"],
                "summary": "Delete a document",
                "operationId": "deleteDocument",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteDocumentRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteDocumentResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorMessage": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            },
            "UploadFileRequest": {
                "type": "object",
                "properties": {
                    "documentId": {
                        "type": "string"
                    },
                    "documentName": {
                        "type": "string"
                    },
                    "file": {
                        "type": "string",
                        "format": "binary"
                    }
                }
            },
            "UploadFileResponse": {
                "type": "object",
                "properties": {
                    "documentId": {
                        "type": "string"
                    },
                    "lastUpdateDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "status": {
                        "type": "string"
                    }
                }
            },
            "UploadDocumentRequest": {
                "type": "object",
                "properties": {
                    "documentId": {
                        "type": "string"
                    },
                    "documentName": {
                        "type": "string"
                    },
                    "documentTitle": {
                        "type": "string"
                    },
                    "publicationDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "mainTopic": {
                        "type": "string"
                    },
                    "documentFocus": {
                        "type": "string"
                    },
                    "availability": {
                        "type": "string"
                    },
                    "documentType": {
                        "type": "string"
                    },
                    "documentLanguage": {
                        "type": "string"
                    },
                    "financialOperationId": {
                        "type": "string"
                    }
                }
            },
            "UploadDocumentResponse": {
                "type": "object",
                "properties": {
                    "documentId": {
                        "type": "string"
                    },
                    "lastUpdateDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "status": {
                        "type": "string"
                    },
                    "financialOperationId": {
                        "type": "string"
                    }
                }
            },
            "DeleteDocumentRequest": {
                "type": "object",
                "properties": {
                    "documentId": {
                        "type": "string"
                    }
                }
            },
            "DeleteDocumentResponse": {
                "type": "object",
                "properties": {
                    "documentId": {
                        "type": "string"
                    },
                    "lastUpdateDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "status": {
                        "type": "string"
                    }
                }
            }
        }
    }
}